<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <!-- action(提交路径,默认单前页面路径),method(数据提交方法,默认get): /login?user=&pwd= -->
    <span style="color: red;">{{tip}}</span>

    <form action="" method="post">
        username: <input type="text" name="user"><br>
        password: <input type="password" name="pwd"><br>
        <input type="submit">
    </form>
    <div>
        <!-- 模板语法 for 循环 -->
        {% for link in sites.links %}
        <a href={{ link }} target="_blank"> {{link}} </a><br>
        {% endfor %}
    </div>
</body>

</html>